.user-card {
  margin: 50px auto;
  background: #f8fafc;
  padding: 35px;
  border-radius: 20px;
  width: 75%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Title */
.user-card h2 {
  font-size: 26px;
  margin-bottom: 25px;
  color: #0f172a;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 16px;
  color: #64748b;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e8f0;
}

td {
  padding: 18px 0;
  font-size: 16px;
  color: #0f172a;
  border-bottom: 1px solid #e2e8f0;
}
